@media (max-width: 575.98px) {
  main section {
    display: flex;
    flex-direction: column;
  }

  .left {
    max-width: 100%;
  }
  .left p {
    max-width: 100%;
  }
  .right {
    max-width: 100%;
  }
  .action {
    flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  main section {
    display: flex;
    flex-direction: column;
  }

  .left {
    max-width: 100%;
  }
  .left p {
    max-width: 100%;
  }
  .right {
    max-width: 100%;
  }
  .action {
    flex-direction: column;
  }
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 1399.98px) {
}
